<html>
  <head>
    <meta charset="utf-8"/>
    <title>quora ESP</title>
  </head>
  <body>
    <div class="entete">
      <ul>
        <div class="gauche">
          <li><button><i class="fa-solid fa-house"></i></button></li>
          <li style="width: 50%">
            <input type="search" name="search" [ngModel]="search" placeholder="Rechercher">
            <button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </li>
        </div>

      </ul>
      <ul class="droite">

      </ul>
    </div>
  </body>
</html>
